<!DOCTYPE html>
<html lang="en">
<head>
  <title><% title "Home Page" %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <div class="container-fluid">
    <ul class="nav navbar-nav">

      <li class="active"><%= link_to 'My Profile', controller: "employees", action: "edit", id: @employee %></li>
      <li class="active"><%= link_to 'User Details', controller: "employees", action: "show", id: @employee, method: :show if can? :show, data: { confirm: 'Are you sure?' } %> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
	<%= link_to"sign out",destroy_user_session_path, method: :delete ,input_html: { class: 'glyphicon glyphicon-log-in' }  %>
      </li>
    </ul>
  </div>
</nav>
  
<div class="container">

	<h2 style = "text-align: center; text-transform: capitalize; color: #1ED177"> Welcome <%= @employee.firstname %> <%= @employee.lastname %> </h2>
	</div>

  

</div>
</body>
</html>
